* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      @import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");

      body {
        background-image: url("/images/bg_admin_page.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }

      section {
        width: 100%;
        height: 100vh;
      }
      section {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background-color: rgba(209, 124, 93, 0.411);
        border-radius: 20px;
        font-family: "The Nautigal", cursive;
        font-size: 2rem;
      }

      section button {
        background-color: rgba(128, 128, 128, 0.432);
        border: 3px dotted black;
        transition: 500ms all;
      }

      section button:hover {
        background-color: rgba(255, 217, 0, 0.644);
        box-shadow: 0 0 20px 10px crimson;
      }

      #go-back {
          position: fixed;
          top: 10%;
          left: 1%;
          height: 80%;
          width: 30px;
          font-size: xx-large;
          text-align: center;
          opacity: 0.4;
          background-color: rgb(114 137 218);
        }

        #go-back span {
          position: relative;
          top: 45%;
        }

        #go-back:hover {
          opacity: 0.8;
        }