<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style---movie---info.css">
    <title>Movie Info</title>
    <script>
      function toDataURL(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
          var reader = new FileReader();
          reader.onloadend = function () {
            callback(reader.result);
          };
          reader.readAsDataURL(xhr.response);
        };
        xhr.open("GET", url);
        xhr.responseType = "blob";
        xhr.send();
      }

      let imageCounter = 0;
    </script>
</head>
<body>
<section class="row p-3 my-5 bg-light" th:object="${movie}">
      <span class="col-12 text-center bg-warning my-3 rounded-pill">
        <h1>&#9733;&#9733;&#9733; <span th:text="*{title}">Title</span> &#9733;&#9733;&#9733;</h1>
      </span>
    <span class="col-12 col-sm-4 h-25 poster">
        <img
                class="img-thumbnail rounded pic"
                th:alt="*{poster_name}"
        />
      </span>
    <span class="col-12 col-sm-8">
        <ul>
          <li>
            <hr />
            <h3 th:text="'Genre: '+ *{genre}">Genre:</h3>
    </li>
    <li>
        <hr />
        <h3 th:text="'Running time: '+ *{running_time}">Running time:</h3>
    </li>
    <li>
        <hr />
        <h3 th:text="'Directed By: '+ *{directed_by}">Directed By:</h3>
    </li>
    <li>
        <hr />
        <h3 th:text="'Produced By: '+ *{produced_by}">Produced By:</h3>
    </li>
    <li>
        <hr />
        <h3 th:text="'Starring: '+ *{starring}">Starring:</h3>
    </li>
    </ul>
    </span>
    <hr />
    <span class="col-12">
        <h3>Description:</h3>
        <p th:text="*{description}">description</p>
      </span>
    <hr />
    <span class="col-12 col-sm-3 bg-dark" style="border-radius: 30px 0 0 30px">
        <img
                src="/images/movie_info_pop_corn.png"
                class="extra-img img-thumbnail"
                alt="pop_corn"
        />
      </span>
    <span class="col-12 col-sm-6 bg-dark">
        <iframe
                style="width: 100%"
                height="300"
                th:src="*{trailer_link}"
        >
        </iframe>
      </span>
    <span class="col-12 col-sm-3 bg-dark" style="border-radius: 0 30px 30px 0">
        <img
                src="/images/movie_info_oscar.png"
                class="extra-img img-thumbnail"
                alt="oscar"
        />
      </span>
    <script th:inline="javascript">
              /*<![CDATA[*/

              var pictureName =
                /*[[${movie.poster_name}]]*/
                /*]]>*/

                toDataURL("/movie_poster/getPoster/" + pictureName, function (dataUrl) {
                  document.getElementsByClassName("pic")[imageCounter++].src =
                    dataUrl;
                });
            </script>
</section>

<a href="/royal_movies" class="btn" type="button" id="go-back">
    <span>&#60;</span>
</a>
</body>
</html>
